@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	@apply bg-black text-purple-100 overflow-x-hidden;
}

h1 {
	font-family: "Satisfy", cursive;
	font-style: normal;
	@apply text-6xl text-center md:text-9xl;
}

/* width */
::-webkit-scrollbar {
	@apply w-4;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-zinc-800 rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-zinc-800;
}
